	
<div class="title">
	<div class="wrapper-title">
	<h1>Baltimore's Vacant Buildings</h1>
	</div>
</div>
<!-- <div class ="wrapper-outer"> -->
	<!-- <div class="wrapper-middle"> -->
		<div class="wrapper">
			
			<%= render partial: "layouts/address_search" %>

			<div id="map"><div class="spinner-loader">Loading...</div></div>
			<div id="intro-text">
				<h5>Please use the map to find vacant building locations in Baltimore City.</h5>
			</div>
			<div class="sub-text">
			<h2 class="sub-subtitle">This application shows vacant building locations throughout the City of Baltimore. To date there are over 16,000 vacant buildings in the city. The map will show 300 markers at a time. Pan across the map to view locations in other areas. </br></br>

			Use this application to find and observe the vacant buildings around the City of Baltimore.</br><a href="https://data.baltimorecity.gov/Housing-Development/Vacant-Buildings/qqcv-ihn5" target="_blank">Click here to view the original raw dataset.</a></h2>
			</div>
			<div id = "footer">
				
				<div id = "logo-area">
					<a href = "http://developfor.com/" target="_blank"> <div id = "logo"></div> </a>
				</div>
			</div>	

		</div>  <!-- END OF WRAPPER OUTER -->
	<!-- </div> -->  <!-- END OF WRAPPER MIDDLE -->
<!-- </div>  --> <!-- END OF WRAPPER -->







