body{
	color: #424242;
	-webkit-appearance: none;
	--moz-appearance: none;
}

#map{
	width:250px;
	height: 220px;
	background: #2E5879;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	z-index: 1;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #C9C9C9;
}

.spinner-loader{
position: absolute;
z-index: 100;
/*left: 50%;
margin: 0 auto;
top: 110px;
width:250px;
height: 220px;*/
width: 250px;
height: 220px;
line-height: 220px;
text-align: center;
 pointer-events:none;
}

.marker-circle{
	fill: #e5d6ac; 
	fill-opacity: 0.5; 
	stroke-width: 5px; 
	stroke: #EE2D5A ;
}

#intro-text{
	margin-top: 10px;
z-index: 0;
position: relative;
width: 250px;
margin: 0 auto;
}

.leaflet-popup-content-wrapper {
border-radius: 5px !important;
}


#vacant_building_searchLocation{
	-webkit-appearance: none;
	--moz-appearance: none;
margin: 0 auto;
width: 202px;
height: 20px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #C9C9C9;
position: relative;
background-color: #FFF;
padding: 1px;


}
.new_vacant_building{
	margin-left: 8px;
}


#submitter {
-webkit-appearance: none;
	--moz-appearance: none;
cursor: pointer;
outline: none;
background-color: #2E5879;
border: none;
color: #FFF;
font-style: normal;
font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
height: 26px;
text-align: center;
line-height: 20px;
width: 42px;
text-decoration: none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}