<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">


	<link rel="stylesheet" href="css/MarkerCluster.css" type="text/css"/>
    <link rel="stylesheet" href="css/MarkerCluster.Default.css" type="text/css" />
    <link rel="stylesheet" href="css/leaflet.css" />
		

		<title>Baltimore City Speed Camera Locator - 2014</title>

	</head>

	</body>

	<div class ="wrapper-outer">
      <div class="wrapper-middle">
		<div class ="wrapper">
			<div class = "main">

				<div id="title"><h1>Baltimore City Speed Camera Locator - 2014</h1></div>

				<div  id="map">
				</div>
				<div id="intro-text">
					<div>
						<h1>Instructions:</h1>
						<p>Use the map above to find the locations of speed cameras in Baltimore City.</p>
					</div>
				</div>

				<div id = "footer">
					<div id="info">
  						<div id="info-dropdown">

  							<div id = "info-text">
  								<h1 id = "info-close">close this section</h1>
    							<p>Motorists who drive aggressively and exceed the posted speed limit by at least 12 miles per hour will receive $40 citations in the mail. These citations are not reported to insurance companies and no license points are assigned. Notification signs will be placed at all speed enforcement locations so that motorists will be aware that they are approaching a speed check zone. The goal of the program is to make the streets of Baltimore safer for everyone by changing aggressive driving behavior. In addition to the eight portable speed enforcement units, the city has retrofitted 50 red light camera locations with the automated speed enforcement technology.</p>

								<p id = "source">Sources: 
									<a href="https://data.baltimorecity.gov/Transportation/Baltimore-Fixed-Speed-Cameras/dz54-2aru">Data Baltimore City Government</a>

								</p>
								
							</div>

							<div id = "embed-text">
								<h1 id = "embed-close">close this section</h1>
								<p>Copy and paste the code below into the HTML for your blog or website.</p>

								<div class="embed-code">
      &lt;iframe style="margin:5px; width:290px; float:left;" src="http://baltimore-speed-cam.developfor.com/" width="289" height="520" scrolling="no" frameborder="0"&gt;&lt;/iframe&gt;
    </div>
				
							</div>
						</div>
						
  						

  						

					</div>
					<div id = "embed-button"><p>embed<p></div>
						<div id = "info-button"></div>
					<div id = "logo"></div>
				</div>
			</div>
		</div>
	</div>
    <%= render partial: "layouts/search_form" %>


<%#= @coordinates %>
<%#= @fullAddress %>
<%#= @vb.to_a %>
<hr>
<b>array count:</b> <countcloseby> </countcloseby> <br>
<b>close by:</b> <closeby> </closeby><br>
<hr>
<b>Addresses of all items:</b><br>
<% VacantBuilding.all.each do |document| %>
<%= document.fullAddress %><br>
<% end %>

<hr>
<%= VacantBuilding.all.to_a %>
  </div>


</body>
		<!-- <img src="images/gdp_widget.jpg"> -->

	





<!-- 	
	<script src = "js/vendor/jquery.ui.touch-punch.min.js"></script>
	<script src = "js/vendor/modernizr.js"></script> -->

	<script src="js/vendor/leaflet.js"></script>
    <script src="js/vendor/dist/leaflet.markercluster-src.js"></script>



	
	<script src = "map/main.js"></script>
	<script src = "js/plug.js"></script>




</html>