<%= form_for( VacantBuilding.new, :url => "search/address_search",:method => :get, :remote => true) do |f| %>
  <%#= f.label :searchLocation %>
  <%= f.text_field :searchLocation, value: "",  size: 20, :placeholder => "enter address" %>
 
  <%= f.submit "Go" , id: "submitter" %>
<% end %>
<div id="findme">:)</div>
<script type="text/javascript">

$("#submitter").on("click", function(){
	console.log($('#vacant_building_searchLocation').serialize())
	
	$.getJSON('search/address_search?utf8=%E2%9C%93&'+$('#vacant_building_searchLocation').serialize()+'&commit=Find+Details', function(result) {

		
		if(result["lng"] != null){
		map.panTo(new L.LatLng(result["lat"], result["lng"])).setZoom(17);
		map.fire('dragend');
		}
		// console.log(<%= @get_address.to_s %>);

	});

}); 


$("#findme").on("click", function(){
function getLocation()
  {
  if (navigator.geolocation)
    {
    navigator.geolocation.getCurrentPosition(showPosition);
    }
    else{x.innerHTML="Geolocation is not supported by this browser.";}
  }

function showPosition(position)
  {
 console.log(position.coords.latitude);
 console.log(position.coords.longitude);
 console.log(position);
  map.panTo(new L.LatLng(position.coords.latitude, position.coords.longitude)).setZoom(17);
  map.fire('dragend');
  }
  getLocation();
});



</script>