<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Baltimore's Vacant Buildings</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<%= render partial: "layouts/reference_files" %>
	<%= csrf_meta_tags %>

</head>
<body>

	<%= yield %>

</body>
</html>
